nav {
  background-color: $primary;
  img {
    background-color: white;
    border-radius: 25px;
  }
}
.nav-link,
.nav-item,
.btn {
  color: white;
}
.navbar-toggler {
  border: 1px solid white !important;
}
.bi-list {
  font-size: 2em;
  color: white;
}
