.songPreview {
  padding: 0 0.5em;
}
.card {
  background-size: cover;
  background-position: top;
}
.card-body {
  padding: 3em;
  padding-top: 5em;
  h3 {
    font-size: 1.3em;
  }
}
.shadowWht {
  color: white;
  text-shadow: 2px 2px 20px #000000;
}
